.divider {
	margin: 30px 0;
}

h2 {
	font-size: 35px;
	margin-bottom: 30px;
}

.live-text {
	min-width: 100px;
	display: block;
	float: right;
	margin-left: 10px;
	border-bottom: 1px solid #aaa;
	height: 30px;
}